{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="modal modal-fix">
                <div class="modal-body">
                    {% if word %}<div class="alert alert-error">{{ word }}</div>{% endif %}
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <table>
                            {{ form }}
                        </table>
                        <input class="btn btn-primary" type="submit" value="更改密码">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
