{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="modal modal-fix">
                <div class="modal-body">
                    {% if validlink %}

                        <h1>输入新密码</h1>

                        <p>请输入两遍新密码，以便我们校验你输入的是否正确。</p>

                        <form action="" method="post">{% csrf_token %}
                            {{ form.new_password1.errors }}
                            <p class="aligned wide"><label for="id_new_password1">新密码:</label>{{ form.new_password1 }}</p>
                            {{ form.new_password2.errors }}
                            <p class="aligned wide"><label for="id_new_password2">确认密码:</label>{{ form.new_password2 }}</p>
                            <p><input type="submit" class="btn btn-primary" value="修改密码" /></p>
                        </form>

                    {% else %}

                        <h1>重置密码失败</h1>

                        <p>此重置链接失效，或许它已经被使用，请重新进行重置。</p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
