{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="modal modal-fix">
                <div class="modal-body">
                    <h1>密码重设</h1>

                    <p>忘记了你的密码？请在下面输入你的 e-mail 地址，我们将把新密码设置说明通过邮件发送给你。</p>

                    <form action="" method="post" class="form-horizontal">{% csrf_token %}
                        {{ form.email.errors }}
                        <p><label for="id_email">Email地址:</label> {{ form.email }} <input type="submit" class="btn btn-primary" value="密码重设" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
