{% if flows %}
{% load flow_tags %}
<div class="modal modal-fix">
    <div class="modal-header">
        <h3><a target="_blank" href="{% url 'news_index' %}">相关资讯</a></h3>
    </div>
    <div class="modal-body">
        <div class="appgameVR_r">
        {% for flow in flows %}
            <div style="width: 235px">
                <a target="_blank" href="{% url 'news_info' flow.pk %}" title="{{ flow.title }}">
                    {% show_img flow %}
                    <div>
                        <p>{{ flow.title }}</p>
                        <span>{{ flow.content|striptags|slice:"50" }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}

