{% extends "base.html" %}
{% block content %}
            <div class="modal modal-fix">
                <div class="modal-body">
                    {% if user.is_authenticated %}
                        <form action="." method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>
                                {{ form.as_table }}
                            </table>
                            <input class="btn btn-primary" type="submit" value="提交"/>
                        </form>

                    {% else %}
                        <p>请先<a href="/account/login/" title="登录">登录</a>，如果你还没有账号，请先<a href="/account/register/" title="注册">注册</a>。</p>
                    {% endif %}
                </div>
            </div>
{% endblock %}
