{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="modal" style="position: relative; width: 100%; top: auto; left: auto; margin: 0 auto; margin-bottom: 30px; z-index: 1">
                <div class="modal-body">
                    {% if perm_edit_article %}
                        <form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <table>
                                {{ form.as_table }}
                            </table>
                            <p><input class="btn btn-primary" type="submit" value="修改"></p>
                        </form>
                    {% else %}
                        <p>您无权编辑他人的主题哦！</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}